/* about */
.about-img__container {
    position: relative;
  }
  
  .about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    
    outline: 0.5rem solid rgb(249, 228, 148);
    z-index: -1;
    transition: all 1s ease-in-out;
  }
  .about-img__container:hover:before {
    top: 0;
    left: 0;
  }
  
  /*end of  about */

  /* travel items */
.travel {
    background: rgb(238, 238, 238);
  }
  .img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .travel-img {
    transition: all 1s ease-in-out;
  }
  .img-container:hover .travel-img {
    transform: scale(1.2);
  }
  .travel-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: rgb(249, 228, 148);
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
  }
  .img-container:hover .travel-item-icon {
    transform: translate(0, 0);
  }
  .travel-item-icon:hover {
    color: #fff;
  }
  .travel-item-value {
    color: rgb(249, 228, 148);
  }

  kbd{
      background-color: rgb(168, 111, 45);
  }
  /*end of  travel items */